<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()" >
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Dashboard Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
      <ion-img src="/assets/grafico1.png" no-border></ion-img>
  </ion-card>
  <ion-card>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, sapiente vitae. Atque quam quasi mollitia dolore similique blanditiis tenetur ratione repellat recusandae pariatur nobis repudiandae beatae assumenda, dolor vel sunt?
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-img src="/assets/grafico2.jpg" no-border></ion-img>
  </ion-card>
</ion-content>
