<ion-header >
  <ion-toolbar color="primary">
    <ion-title> Login Ciisa </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card no-border> 
    <ion-img src="/assets/Logo_Instituto_Ciisa.jpg" no-border></ion-img>
  </ion-card>
  <ion-item padding>
    <ion-label position="floating">Ingrese Usuario</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item padding>
    <ion-label position="floating">Ingrese Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item>
    
  </ion-item>
  <ion-button size="default" expand="full" routerLink="/main">Autenticar</ion-button>
  
</ion-content>
